USE [master]
GO
/****** Object:  Database [Formula1]    Script Date: 11/9/2025 8:40:46 PM ******/
CREATE DATABASE [Formula1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Formula1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Formula1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Formula1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Formula1_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Formula1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Formula1]
GO
/****** Object:  Table [dbo].[Circuits]    Script Date: 11/9/2025 8:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Circuits](
	[circuitId] [int] NOT NULL,
	[circuitRef] [varchar](100) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[cityId] [int] NULL,
	[countryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[circuitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[cityId] [int] IDENTITY(1,1) NOT NULL,
	[cityName] [varchar](100) NOT NULL,
	[countryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_City_Country] UNIQUE NONCLUSTERED 
(
	[cityName] ASC,
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continents](
	[continentId] [int] IDENTITY(1,1) NOT NULL,
	[continentName] [varchar](50) NOT NULL,
	[continentCode] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[continentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[continentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[continentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[countryId] [int] IDENTITY(1,1) NOT NULL,
	[countryName] [varchar](100) NOT NULL,
	[continentId] [int] NOT NULL,
	[iso2Code] [varchar](2) NULL,
	[iso3Code] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[countryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[iso3Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[iso2Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[driverId] [int] NOT NULL,
	[driverRef] [varchar](100) NOT NULL,
	[number] [varchar](3) NULL,
	[code] [varchar](3) NULL,
	[forename] [varchar](100) NOT NULL,
	[surname] [varchar](100) NOT NULL,
	[dob] [date] NULL,
	[nationalityId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[driverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[nationalityId] [int] IDENTITY(1,1) NOT NULL,
	[nationalityName] [varchar](100) NOT NULL,
	[countryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nationalityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nationalityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PitStops]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PitStops](
	[raceId] [int] NOT NULL,
	[driverId] [int] NOT NULL,
	[stop] [int] NOT NULL,
	[lap] [int] NOT NULL,
	[duration] [varchar](20) NULL,
	[milliseconds] [int] NULL,
 CONSTRAINT [PK_PitStops] PRIMARY KEY CLUSTERED 
(
	[raceId] ASC,
	[driverId] ASC,
	[stop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualifyingResults]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualifyingResults](
	[qualifyId] [int] NOT NULL,
	[raceId] [int] NOT NULL,
	[driverId] [int] NOT NULL,
	[constructorId] [int] NOT NULL,
	[number] [int] NULL,
	[position] [int] NULL,
	[q1] [varchar](20) NULL,
	[q2] [varchar](20) NULL,
	[q3] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[qualifyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceResults]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceResults](
	[resultId] [int] NOT NULL,
	[raceId] [int] NOT NULL,
	[driverId] [int] NOT NULL,
	[constructorId] [int] NOT NULL,
	[grid] [int] NULL,
	[position] [varchar](10) NULL,
	[positionOrder] [int] NULL,
	[points] [decimal](5, 2) NULL,
	[laps] [int] NULL,
	[time] [varchar](50) NULL,
	[milliseconds] [int] NULL,
	[fastestLap] [int] NULL,
	[fastestLapTime] [varchar](20) NULL,
	[fastestLapSpeed] [varchar](20) NULL,
	[statusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[resultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Races]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Races](
	[raceId] [int] NOT NULL,
	[year] [int] NOT NULL,
	[round] [int] NOT NULL,
	[circuitId] [int] NOT NULL,
	[name] [varchar](200) NOT NULL,
	[date] [date] NOT NULL,
	[time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[raceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceStatus]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceStatus](
	[statusId] [int] IDENTITY(1,1) NOT NULL,
	[statusName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[statusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seasons]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seasons](
	[year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 11/9/2025 8:40:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[constructorId] [int] NOT NULL,
	[constructorRef] [varchar](100) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[nationalityId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[constructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Circuits]  WITH CHECK ADD  CONSTRAINT [FK_Circuits_Cities] FOREIGN KEY([cityId])
REFERENCES [dbo].[Cities] ([cityId])
GO
ALTER TABLE [dbo].[Circuits] CHECK CONSTRAINT [FK_Circuits_Cities]
GO
ALTER TABLE [dbo].[Circuits]  WITH CHECK ADD  CONSTRAINT [FK_Circuits_Countries] FOREIGN KEY([countryId])
REFERENCES [dbo].[Countries] ([countryId])
GO
ALTER TABLE [dbo].[Circuits] CHECK CONSTRAINT [FK_Circuits_Countries]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([countryId])
REFERENCES [dbo].[Countries] ([countryId])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Continents] FOREIGN KEY([continentId])
REFERENCES [dbo].[Continents] ([continentId])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Continents]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_Nationalities] FOREIGN KEY([nationalityId])
REFERENCES [dbo].[Nationalities] ([nationalityId])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_Nationalities]
GO
ALTER TABLE [dbo].[Nationalities]  WITH CHECK ADD  CONSTRAINT [FK_Nationalities_Countries] FOREIGN KEY([countryId])
REFERENCES [dbo].[Countries] ([countryId])
GO
ALTER TABLE [dbo].[Nationalities] CHECK CONSTRAINT [FK_Nationalities_Countries]
GO
ALTER TABLE [dbo].[PitStops]  WITH CHECK ADD  CONSTRAINT [FK_PitStops_Drivers] FOREIGN KEY([driverId])
REFERENCES [dbo].[Drivers] ([driverId])
GO
ALTER TABLE [dbo].[PitStops] CHECK CONSTRAINT [FK_PitStops_Drivers]
GO
ALTER TABLE [dbo].[PitStops]  WITH CHECK ADD  CONSTRAINT [FK_PitStops_Races] FOREIGN KEY([raceId])
REFERENCES [dbo].[Races] ([raceId])
GO
ALTER TABLE [dbo].[PitStops] CHECK CONSTRAINT [FK_PitStops_Races]
GO
ALTER TABLE [dbo].[QualifyingResults]  WITH CHECK ADD  CONSTRAINT [FK_Qualifying_Drivers] FOREIGN KEY([driverId])
REFERENCES [dbo].[Drivers] ([driverId])
GO
ALTER TABLE [dbo].[QualifyingResults] CHECK CONSTRAINT [FK_Qualifying_Drivers]
GO
ALTER TABLE [dbo].[QualifyingResults]  WITH CHECK ADD  CONSTRAINT [FK_Qualifying_Races] FOREIGN KEY([raceId])
REFERENCES [dbo].[Races] ([raceId])
GO
ALTER TABLE [dbo].[QualifyingResults] CHECK CONSTRAINT [FK_Qualifying_Races]
GO
ALTER TABLE [dbo].[QualifyingResults]  WITH CHECK ADD  CONSTRAINT [FK_Qualifying_Teams] FOREIGN KEY([constructorId])
REFERENCES [dbo].[Teams] ([constructorId])
GO
ALTER TABLE [dbo].[QualifyingResults] CHECK CONSTRAINT [FK_Qualifying_Teams]
GO
ALTER TABLE [dbo].[RaceResults]  WITH CHECK ADD  CONSTRAINT [FK_Results_Drivers] FOREIGN KEY([driverId])
REFERENCES [dbo].[Drivers] ([driverId])
GO
ALTER TABLE [dbo].[RaceResults] CHECK CONSTRAINT [FK_Results_Drivers]
GO
ALTER TABLE [dbo].[RaceResults]  WITH CHECK ADD  CONSTRAINT [FK_Results_Races] FOREIGN KEY([raceId])
REFERENCES [dbo].[Races] ([raceId])
GO
ALTER TABLE [dbo].[RaceResults] CHECK CONSTRAINT [FK_Results_Races]
GO
ALTER TABLE [dbo].[RaceResults]  WITH CHECK ADD  CONSTRAINT [FK_Results_Status] FOREIGN KEY([statusId])
REFERENCES [dbo].[RaceStatus] ([statusId])
GO
ALTER TABLE [dbo].[RaceResults] CHECK CONSTRAINT [FK_Results_Status]
GO
ALTER TABLE [dbo].[RaceResults]  WITH CHECK ADD  CONSTRAINT [FK_Results_Teams] FOREIGN KEY([constructorId])
REFERENCES [dbo].[Teams] ([constructorId])
GO
ALTER TABLE [dbo].[RaceResults] CHECK CONSTRAINT [FK_Results_Teams]
GO
ALTER TABLE [dbo].[Races]  WITH CHECK ADD  CONSTRAINT [FK_Races_Circuits] FOREIGN KEY([circuitId])
REFERENCES [dbo].[Circuits] ([circuitId])
GO
ALTER TABLE [dbo].[Races] CHECK CONSTRAINT [FK_Races_Circuits]
GO
ALTER TABLE [dbo].[Races]  WITH CHECK ADD  CONSTRAINT [FK_Races_Seasons] FOREIGN KEY([year])
REFERENCES [dbo].[Seasons] ([year])
GO
ALTER TABLE [dbo].[Races] CHECK CONSTRAINT [FK_Races_Seasons]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Nationalities] FOREIGN KEY([nationalityId])
REFERENCES [dbo].[Nationalities] ([nationalityId])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Nationalities]
GO
USE [master]
GO
